{% extends 'base.html' %}
{% block content %}
<div class="container py-4" id="mainPage">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div v-for='tweet in tweets'>
                    <div class='card'>

                    <div class="card-header">
                    by: <a :href="/profile/+ [[tweet.user_id]]"> [[tweet.user]] </a>
                    </div>
                    <div class="card-body">
                    <p class="card-text">[[tweet.body]]</p>
                    </div>
                    <div class="card-footer text-muted text-end">added: [[tweet.timestamp]]</div>
                    </div>
                    <br>
                </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script%}
<script>
let app = Vue.createApp({
    delimiters: ['[[',']]'],
    data(){
        return{
            tweets: []
        }
    },
    methods: {
    },
    created(){
            let endpoint = '/api/alltweets/'
            fetch(endpoint)
            .then(response=>response.json())
            .then(data=>data.results)
            .then(data=>{
                for(let index = 0; index < data.length; index++) {
                    this.tweets.push(data[index])
                }
            })
            .catch(err=>console.log(err))
        }
    })
    app.mount('#mainPage')
    //code for infinite scroll

</script>
{% endblock %}