{% extends 'base.html' %}
{% block content %}
<div class="container py-4" id="mainPage">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div v-for='tweet in tweets'>
                    <div class='card'>

                    <div class="card-header">
                    by: <a :href="/profile/+ [[tweet.user_id]]"> [[tweet.user]] </a>
                    </div>
                    <div class="card-body">
                    <p class="card-text">[[tweet.body]]</p>
                    </div>
                    <div class="card-footer text-muted text-end">added: [[tweet.timestamp]]</div>
                    </div>
                    <br>
                </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script%}
<script>
function throttle(fn, delay = 200){
    let shouldWait = false
    return (...args) => {
        if(shouldWait) return
        fn(...args)
        shouldWait = true
        setTimeout(() => {
            shouldWait = false
        }, delay)
    }

}



let app = Vue.createApp({
    delimiters: ['[[',']]'],
    data(){
        return{
            tweets: [],
            nextEndpoint: '',
            shouldWait: true
        }
    },
    methods: {
        handleScroll() {
			if (
				window.scrollY + window.innerHeight >=
				document.body.scrollHeight - 50
			) {
                fetch(this.nextEndpoint)
                .then(data=>data.json())
                .then(data=>{

                    this.nextEndpoint = data.next
                    this.tweets.push(...data.results)

                })
			}
		}
    },
    mounted(){
            window.addEventListener("scroll", throttle(this.handleScroll, 20))
            let endpoint = '/api/alltweets/'
            fetch(endpoint)
            .then(response=>response.json())
            .then(data=>{
            this.nextEndpoint = data.next
            return data.results
            })
            .then(data=>{
                    console.log(this.nextEndpoint)
                    this.tweets.push(...data)
            })
            .catch(err=>console.log(err))

        }
    })



    app.mount('#mainPage')
    //code for infinite scroll

</script>
{% endblock %}