{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <hr>
        <div  class="col-md-5">
    <div id='feedapp'>
    </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
{% load static %}

<script>
let app = Vue.createApp({
    delimiters: ['[[',']]'],
    data(){
        return{
            tweets: [],
            body: '',
            user: 'You',
            timestamp: 'Now'
        }
    },
    methods: {
        updateTweet(value){
            var tweet = {
                'body': value,
                'user': '{{request.user.username}}',
                'user_id': {{request.user.id}},
                'timestamp': 'just now'
            }
            this.tweets.unshift(tweet);
        },
        updateDate(date){
            console.log(date)    
            var postDate = date
            this.tweets[0].timestamp = postDate

    },

    },
    template: `<submit-form />
                <div v-for='tweet in tweets'>
                    <div class='card'>

                    <div class="card-header">
                    by: <a :href="/profile/+ [[tweet.user_id]]"> [[tweet.user]] </a>
                    </div>
                    <div class="card-body">
                    <p class="card-text">[[tweet.body]]</p>
                    </div>
                    <div class="card-footer text-muted text-end">added: [[tweet.timestamp]]</div>
                    </div>
                    <br>
                </div>

    `,
    created(){
            let endpoint = '/api/tweets/'
            fetch(endpoint)
            .then(response=>response.json())
            .then(data=>data.results)
            .then(data=>{
                for(let index = 0; index < data.length; index++) {
                    this.tweets.push(data[index])
                }
            })
            .catch(err=>console.log(err))
        }
})

app.component('submit-form', {
    template: `
        <form @submit.prevent='handleTweet'>
            <div class="form-floating">
                <textarea class="form-control" v-model='body' id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Tweet here, lol</label>
            </div>
            <div class='d-flex justify-content-end'>
            <div class='col-mid-2'>
            <button class='btn btn-primary m-2'>submit</button>
            </div>
            </div>
        </form>
        <hr>
    `,
    data(){
        return{
            body: ''
        }
    },
    methods: {
        handleTweet(){
            //packing it into the dict
            this.$root.updateTweet(this.body)
            bodyContent = this.body
            let endpoint = '/api/tweets/'
            fetch(endpoint, {
            method: "post",
            headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Accept': 'application/json',
            'Content-Type': 'application/json'
                },
            body: JSON.stringify({
                body: bodyContent
            })
            })
            .then(response=>{
                var tweetResponse = response.json()
                return tweetResponse
            })
            .then(data=>{
            console.log(data)
            console.log(data.timestamp)
            this.$root.updateDate(data.timestamp)
        })

            this.body = ''
    }

}
})

app.mount('#feedapp')


</script>
<!--<script src="{% static 'js/feed.js' %}"></script>-->
{% endblock %}