<!--<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'fp' %}">Chatterbox</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'feed:feed' %}">HomeFeed</a>

       {% if request.user.is_authenticated %}
       <a class="nav-link" href="{% url 'authoperations:logout' %}">{{user.username}} logout</a>
       {% else %}
       <a class='nav-link' href="{% url 'authoperations:login' %}">log in</a>
       {% endif %}
     </div>
      </div>

    </div>
  </div>
</nav>-->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'fp' %}">ChatterBox</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'feed:feed' %}">HomeFeed</a>
        </li>
        <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'authoperations:logout' %}">{{user.username}} logout</a>
            {% else %}
            <a class='nav-link' href="{% url 'authoperations:login' %}">log in</a>
            {% endif %}
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        -->
      </ul>
      <form class="d-flex" role="search" id='searchBox'>
        <input class="form-control me-2" type="search" @keyup.prevent='' v-model='querry' placeholder="Search" id='searcDropdown'>
        
        <div class="dropdown-menu">>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <!--<button class="btn btn-outline-success" @click>Search</button>-->
      </form>
    </div>
  </div>
</nav>


<script>
const searchApp = new Vue.createApp({
  data() {
    return {
      querry: '',
    }
  },
  methods: {
    typeToConsole(querry){
      console.log(querry)
    }
  }
})

  searchApp.mount('#searchBox')

</script>
